@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

@mixin normal {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 400;
}

//@mixin medium {
//  font-family: "Roboto", sans-serif;
//  font-style: normal;
//  font-weight: 500;
//}

@mixin bold {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin extbold {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 900 !important;
}
